@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(45, 26, 105);
    margin: 5px;
    padding: 8px;
}
.container{
    width: 80%;
    margin: auto;
}
.text-center{
    text-align: center;
}
.special-color{
    color: rgb(31, 78, 19);
}



.logo img {
    width: 70px;
}

.nav {

    background-color: rgb(98, 137, 173);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}

.menu {
    display: flex;

}

.nav-item {
    margin: 0 8px;
}

.nav-link {
    color: rgb(209, 144, 165);
}

.nav-toggle {
    display: none;
}
.banner{
    display: flex;
    
}
.banner-text{
    width: 100%;
    display: flex;
    align-items: center;
    
}

.banner-image{
    display: flex;
    justify-content: flex-end;
}
.banner-image img{
    width: 60%;
}

/* partners cards */
#partners{
    margin: 62px 0;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
 .card{
     margin: 10px;
     padding: 8px;
     box-decoration-break: slice;
 }
.cards img{
    width: 70%;
    height: 200px;
}
/* contact */
.contact-form{
    background:url(../image/contact.mg2.png) left top no-repeat;
    background-size: cover;
    padding: 32px 0;
    margin-bottom: 48px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.social{
    display: flex;
}
.social-list{
    margin: 2px 8px;
    padding: 0px;
}
.social-item{
    font-size: 30px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field{
    width: 70%;
    padding: 10px;
    font-size: 16px;
    outline: 1px;
}
.field:focus{
    border: 2px solid rgb(90, 192, 187);
}
.btn{
    border-style: none;
    background-color: rgb(79, 109, 175);
    padding: 6px 18px;
    border-radius: 3px;
    color: rgb(235, 235, 235);
}

/* responsive */
@media only screen and (max-width:688px) {

 .nav {
        background-color: blue;
        position: relative;
    }

    .menu {
        display: none;
    }

    .nav-toggle {
        display: block;
    }

    .menu-toggle {
        position: absolute;
        top: 82%;
        right: 0px;
        background-color: crimson;
        padding: 20px;
        display: none;
    }

    #check {
        display: none;
    }

    .check:checked~.menu-toggle {
        display: block;
    }
    .banner{
        flex-wrap: wrap;
    }
    .banner-image{
        justify-content: center;
    }
}
@media only screen and (max-width:768px) {
    .banner{
        flex-wrap: wrap;
    }
    .banner-image{
        justify-content: center;
    }
}
.cards{
    flex-wrap: ;
}